/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
}

.container {
  width: fit-content;  /* Adapts to the content width */
  max-width: 100%;  /* Ensures it doesn't exceed screen width */
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow-x: auto;  /* Enables horizontal scrolling if data overflows */
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

#initialView {
  text-align: center;
  margin-bottom: 20px;
}

#controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

input[type="text"], input[type="file"] {
  padding: 10px;
  margin: 5px;
  width: 100%;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

#chartContainer {
  margin-top: 20px;
}